
<div class="card">
    <a href="https://www.deltacredit.ru" class="simple-text"><img src="@Url.Content("~/Content/img/logo.png")"></a>
    <div class="text-center">
        <h1>Регистрация</h1>
    </div>
    <p>Регистрация не возможна, пожалуйста, свяжитесь со специалистом по адресу <a href="mailto:deltapro@gmail.com">deltapro@gmail.com</a></p>
    <div class="text-center">
        @Html.ActionLink("Ок", "Index", "Home", null, new { @class = "btn btn-danger btn-fill btn-wd" })
    </div>
</div>

        