@model PersonalAccount.Models.LoginViewModel
@{
    ViewBag.Title = "ДельтаКредит - Регистрация";
}
<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-8" id="Register_Partial">
                @if (ViewBag.Type == "RegisterOGRN")
                {
                    @Html.Partial("~/Views/Account/RegisterOGRN.cshtml")
                }
                else if (ViewBag.Type == "NoRegistration")
                {
                    @Html.Partial("~/Views/Account/NoRegistration.cshtml")
                }
                else
                {
                    @Html.Partial("~/Views/Account/RegisterQuestion.cshtml")
                }
            </div>
            <div class="col-md-3" id="Login_Partial">
                @Html.Partial("~/Views/Account/Login.cshtml")
            </div>
        </div>
    </div>
</div>

