<div class="card">
    <a href="https://www.deltacredit.ru" class="simple-text"><img src="@Url.Content("~/Content/img/logo.png")"></a>
    <div class="text-center">
        <h1>Регистрация</h1>
    </div>
    <p>На вашу электронную почту направлен логин и пароль. Для дальнейших действий вам необходимо воспользоваться электронной почтой и полученной информацией.</p>
    @Html.ActionLink("Ок", "Account", "Home", null, new { @class = "btn btn-danger btn-fill btn-wd" })
</div>

