@{
    ViewBag.Title = "ДельтаКредит - Оценочным компаниям";
}

<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-8">
                <div class="card">
                    <a href="https://www.deltacredit.ru" class="simple-text"><img src="/Content/img/logo.png"></a>
                    <div class="text-center">
                        <h1>Оценочным компаниям</h1>
                    </div>
                    <p>
                        АО «КБ ДельтаКредит» (далее – Банк) является специализированным Банком по ипотечному жилищному кредитованию.
                        Для принятия Банком решения о возможной сумме выдаваемого кредита очень важно заключение о действительной рыночной стоимости объекта недвижимости,
                        подготовленной независимым оценщиком. В связи с этим Банку необходимы услуги независимых оценочных компаний и оценщиков-индивидуальных предпринимателей
                        (далее совместно именуемые – Оценщик), имеющих и достаточный опыт работы и соответствующую квалификацию.
                    </p>
                    <p>
                        В целях защиты от некачественной оценки и повышения эффективности процесса кредитования Банк осуществляет отбор Оценщиков в качестве партнеров при оценке предмета залога.
                    </p>
                    <p>
                        Для рассмотрения вопроса о соответствии Оценщика требованиям Банка к партнерам ему необходимо ознакомиться с Требованиями Банка к оценочным
                        компаниям-партнерам/оценщикам-индивидуальным предпринимателям-партнерам, перечнем документов, которые необходимо предоставить в Банк, пройти процедуру регистрации на сайте
                        Банка и предоставить в Банк документы согласно вышеуказанному перечню.
                    </p>
                    <p>
                        Срок рассмотрения документов составляет не более 30 рабочих дней со дня поступления в Банк всех необходимых сведений и документов.
                    </p>
                    <p>
                        Перечень Оценщиков-партнеров Банка (далее – Перечень) размещен на сайте Банка.
                    </p>
                    <p>
                        Клиенты Банка вправе предоставить отчет об оценке, подготовленный Оценщиком, не включенным в Перечень.
                    </p>
                    <p><h5>В этом случае отчет об оценке принимается после:</h5></p>
                    <p>
                        <ul>
                            <li>предоставления Оценщиком документов, необходимых для его проверки на соответствие требованиям действующего законодательства и проверки Оценщика на соответствие требованиям действующего законодательства;</li>
                            <li>предоставления отчета об оценке и проверки отчета об оценке на соответствие требованиям федеральных стандартов оценки.</li>
                        </ul>
                    </p>

                    <p>
                        Срок рассмотрения заявки о принятии отчета об оценке Оценщика, не включенного в Перечень – не более 30 рабочих дней с момента предоставления документов в Банк.
                    </p>
                </div>
            </div>
            <div class="col-md-3" id="Login_Partial">
                <div class="row card">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="text-center btn btn-danger btn-fill btn-wd">
                                <a href="/Account/LogOff">Выйти</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



